body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

a {
    display: block;
}

img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    cursor: pointer;
}
